:root {
--IRIS: #4D5AE5;
--OCEAN: #404BBF;
--NAVY-BLUE: #2E2F42;
--GREEN: #31D0AA;
--SLATE: #434455;
--LIGHT-SLATE: #8E8F99;
--CORNFLOWER: #E7E9FC;
--CLOUD: #F4F4FD;
--NAVY-BLUE-MODAL: #2E2F42;
--GREY: #2E2F42;
--WHITE: #FFFFFF;
--DAIRY: #FCFCFC;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455
}

.link {
    text-decoration: none
}

.list {
    list-style: none;
}

/*header*/
.header {

}

.header-nav {
}
.header-logo-web{
    font-family: 'Raleway', sans-serif;;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS);
}

.header-logo-studio {
    font-family: 'Raleway', sans-serif;;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--NAVY-BLUE);
}



.header-list {
}
.header-item {
}
.header-link .list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--NAVY-BLUE);
}
.header-link .link :hover, 
.header-link .link :focus {
    color:var(--OCEAN);
}

.header-mail .list{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.header-tel {
}
/*1 Section*/
.order-service {
}
.order-button {
}
/*2 Section*/
.strategy {
}
.strategy-title {
}
.strategy-subtitle {
}
/*3 Section*/
.about {
}
.about-info {
}
/*4 Section*/
.hero {
}
.hero-title {
}
/*footer*/
.footer {
}
.footer-nav {
}
.footer-logo-web {
}
.footer-logo-studio {
}
.footer-logo-text {
}